*.res
!CompErr
!expected
!expected/Basic
!expected/File
!expected/Time
!expected/CompErr
*.dat
*.err
core.*
Testing
Basic/arr
Basic/arr2
Basic/arr3
Basic/calcwords
Basic/case
Basic/case2
Basic/casecompat
Basic/cfuncname
Basic/consts
Basic/course
Basic/dhry
Basic/doublebegin
Basic/fact-bignum
Basic/func
Basic/func2
Basic/func3
Basic/func4
Basic/func5
Basic/func6
Basic/func7
Basic/general
Basic/gol
Basic/goto
Basic/hist
Basic/hungrymouse
Basic/inline
Basic/iso7185pat
Basic/lacsap_tmp_file_000001
Basic/linefile
Basic/list
Basic/loop
Basic/mathtest
Basic/minmax
Basic/mt
Basic/multidecl
Basic/nestfunc
Basic/numeric
Basic/obj
Basic/packunpack
Basic/param
Basic/pi
Basic/popcnt
Basic/qsort
Basic/randtest
Basic/readchars
Basic/recpass
Basic/recursion
Basic/set
Basic/set2
Basic/set3
Basic/set4
Basic/set_test
Basic/sf
Basic/sign
Basic/size
Basic/str
Basic/sudoku
Basic/t03
Basic/t04
Basic/t09
Basic/t12
Basic/t14
Basic/test04
Basic/test07
Basic/test08
Basic/test11
Basic/test12
Basic/test13
Basic/test14
Basic/test16
Basic/test17
Basic/test20
Basic/test21
Basic/test23
Basic/testset
Basic/testset2
Basic/testset3
Basic/transpose
Basic/type
Basic/unit_main
Basic/unit_main2
Basic/val
Basic/variant
Basic/variant2
Basic/varrec1
Basic/virt
Basic/wc
Basic/whet
Basic/with
File/copyfile
File/copyfile2
File/file
Time/longcompile
